@import '~/assets/scss/global';

.product {
  .navbar {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: map-get($colors, body-bg);
  }

  .menu-container {
    @extend .pl-20;
    @extend .mt-5;

    &.is-fixed {
      position: sticky;
      top: 50px;
      z-index: 99;
      background-color: map-get($colors, body-bg);
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
  
      li {
        @extend .position-relative;
        float: left;
        @extend .p-10;
        @extend .cursor-pointer;

        div {
          color: map-get($colors, manatee);
        }
  
        &.active {
          div {
            color: map-get($colors, vermillion);
          }
  
          &:after {
            border-bottom: 2px solid map-get($colors, vermillion);
            content: '';
            @extend .position-absolute;
            left: 0;
            right: 0;
            width: 50%;
            bottom: 0;
            margin: 0 auto;
          }
        }
      }
    }
  }

  .item-container {
    @extend .position-relative;
    @extend .p-20;
    @extend .mt-10;

    .item-card {
      @extend .position-relative;
      background-color: map-get($colors, white);
      @extend .border-radius-20;
      @extend .p-10;
      box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);

      .item-image {
        @extend .position-absolute;
        top: -30px;
        left: 65%;
        transform: translateX(-50%);
        width: 100%;
        @extend .border-radius-50;

        img {
          @extend .border-radius-50;
        }
      }
    }
  }
}