@import '~/assets/scss/global';

.home {
  display: block;
  background-image: url('/images/rustic-theme.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: contain; /* Resize the background image to cover the entire container */
  background-size: 100% 100%;
  height: calc(100vh);

  .container {
    height: calc(100vh);
    width: 50%;

    .header-content {
      background-image: url('/images/rustic-header.png');
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: contain;
      width: 80%;
      height: calc(45vh);

      .item-name {
        font-family: "GreatVibes";
      }

      .custom-mt {
        margin-top: -20px;
      }
    }

    .body-content {
      .btn-undangan {
        @extend .px-20;
        @extend .py-10;
        font-family: "GreatVibes";
        color: map-get($colors, tan);
        font-weight: 600;
        border: 2px solid map-get($colors, tan);
        @extend .border-radius-10;
  
        &:focus {
          outline: none;
        }
      }
    }
  }
}