@import '~/assets/scss/global';

.history {

  .navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: map-get($colors, body-bg);

    img {
      @extend .position-absolute;
      left: 20px;
    }
  }

  .history-container {
    height: calc(100vh - 150px);
    @extend .p-5-rem;
  }

  .footer-container {
    position: fixed;
    bottom: 0;
    z-index: 99;
    background-color: map-get($colors, body-bg);
    width: 100%;

    @extend .px-20;
    @extend .py-20;

    button {
      background-color: map-get($colors, vermillion);
      width: 100%;
      height: 50px;
      color: map-get($colors, white);
      outline: none;
      
      @extend .border-radius-30;

      &:focus {
        outline: none;
      }
    }
  }
}