@import '~/assets/scss/global';

.generate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background-undangan-app.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover; /* Resize the background image to cover the entire container */
  background-size: 100% 100%;
  height: calc(100vh);

  .container {
    height: calc(100vh);
    overflow: auto;

    .btn-undangan {
      @extend .px-20;
      @extend .py-10;
      font-family: "Niconne";
      color: map-get($colors, goldenDream);
      font-weight: 600;
      border: 2px solid map-get($colors, goldenDream);
      @extend .border-radius-10;

      &:focus {
        outline: none;
      }
    }
  }
}