@import '~/assets/scss/global';

.peta {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/images/background-undangan-app.png');
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  // background-size: cover; /* Resize the background image to cover the entire container */
  background-size: 100% 100%;
  height: calc(100vh - 57px);
  max-height: calc(100vh - 57px);

  .container {
    height: calc(100vh - 57px);
    max-height: calc(100vh - 57px);
    overflow: auto;
  }
}